class axi_transaction extends uvm_sequence_item;

  rand bit [31:0] addr;
  rand bit [31:0] data;
  rand bit write;

  `uvm_object_utils(axi_transaction)

  function new(string name="axi_transaction");
    super.new(name);
  endfunction

endclass
